/* 1. Connecting fonts */
/* roboto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v50-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/roboto-v50-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* play-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/play-v21-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* play-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/play-v21-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* 2. Body-CSS */
body {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 400;
}

/* 3. Removing the marking */
ul {
  list-style-type: none;
}

/* 4. Base with colors */
:root {
  --Primary-colors-white: #ffffff;
  --Primary-colors-blue: #2b7fff;
  --Primary-colors-navy-blue: #011c44;
  --Secondary-colors-grey: #4a4a4a;
  --Secondary-colors-grey-light: #4a4a4a;
  --Secondary-colors-yellow: #ffd02b;
}

/* 5. Header */
/* 5.1 Logo */
.logo-link {
  font-family: 'Play';
  font-size: 22px;
  font-weight: 700;
  line-height: 1.9;
  color: var(--Primary-colors-blue);
  text-decoration: none;
  text-transform: capitalize;
}
/* 5.2 Navigation */
.link {
  line-height: 1.16;
  color: var(--Primary-colors-navy-blue);
  text-decoration: none;
}
.link:hover {
  color: var(--Primary-colors-blue);
}

/* 6. Section#1 [MAIN TITLE] */
/* 6.1 Subtitle */
.Subtitle {
  line-height: 1.16;
  color: var(--Primary-colors-navy-blue);
}
/* 6.2 Website-name */
.Website-name {
  font-family: 'Play';
  font-size: 140px;
  font-weight: 700;
  line-height: 1.62;
  font-style: Bold;
  color: var(--Primary-colors-blue);
}
/* 6.3 Button */
.button {
  font-size: 16px;
  line-height: 1.3;
  cursor: pointer;
  font-weight: 600;
  color: var(--Primary-colors-white);
  line-height: 1.16;
  background-color: var(--Primary-colors-blue);
  border-radius: 32px;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
}
.button:hover {
  background-color: var(--Secondary-colors-grey-light);
}
/* 6.4 Bottom-header */
.Bottom-header {
  font-size: 12px;
  line-height: 2;
  color: var(--Secondary-colors-grey);
}

/* 7. Section #2 */
.Section-title2 {
  font-family: 'Play';
  font-size: 64px;
  font-weight: 700;
  font-style: Bold;
  line-height: 2.3;
  color: var(--Primary-colors-navy-blue);
}

.Section-title2 span {
  font-family: 'Play';
  font-size: 64px;
  font-weight: 700;
  font-style: Bold;
  line-height: 2.3;
  text-transform: capitalize;
  color: var(--Primary-colors-blue);
}

/* 7.1 Paragraph1-Section-2 */
.Paragraph1-Section-2 {
  font-size: 22px;
  line-height: 3.45;
  color: var(--Primary-colors-navy-blue);
}

/* 7.2 Paragraph2-Section-2 */
.Paragraph2-Section-2 {
  font-size: 22px;
  line-height: 6.9;
  color: var(--Primary-colors-navy-blue);
}

/* 7.3 Paragraph2-Section-2 */
.Paragraph2-Section-2 span {
  font-size: 22px;
  font-weight: 600;
}

/* 8. Section #3 */
/* 8.1 Section-title3  */
.Section-title3 {
  font-family: 'Play';
  font-size: 64px;
  font-weight: 700;
  font-style: Bold;
  line-height: 2.3;
  text-align: center;
  color: var(--Primary-colors-navy-blue);
}
.Section-title3 span {
  font-family: 'Play';
  font-size: 64px;
  font-weight: 700;
  font-style: Bold;
  line-height: 2.3;
  text-align: center;
  color: var(--Primary-colors-blue);
  display: block;
}

/* 8.2 Section3-paragraphs*/
.Section3-paragraphs {
  line-height: 4;
  color: #000000;
  background: var(--Primary-colors-white);
  width: 316px;
  border-radius: 32px;
  text-align: center;
}

/* 9. Section #4 */
/* 9.1 Section-title-4 */
.Section-title-4 {
  font-family: 'Play';
  font-size: 64px;
  font-weight: 700;
  text-align: center;
  font-style: Bold;
  color: #000000;
  line-height: 1.15;
}
.Section-title-4 span {
  font-family: 'Play';
  font-size: 64px;
  font-weight: 700;
  text-align: center;
  font-style: Bold;
  color: var(--Primary-colors-blue);
  line-height: 1.15;
}

/* 9.2 Procedurs-Section4 */
.Procedurs-Section4 {
  font-size: 22px;
  line-height: 26;
  text-align: center;
  color: var(--Primary-colors-white);
}

/* 10. Name-for-article (transparent)*/
.Name-for-article {
  color: transparent;
}

/* 11. Section 5 */
/* 11.1 Contacts-Title-Section5  */
.Contacts-Title-Section5 {
  font-family: 'Play';
  font-size: 64px;
  font-weight: 700;
  text-align: center;
  font-style: Bold;
  line-height: 1.17;
  color: var(--Primary-colors-navy-blue);
}
.Contacts-Title-Section5 span {
  font-family: 'Play';
  font-size: 64px;
  font-weight: 700;
  text-align: center;
  font-style: Bold;
  line-height: 1.17;
  color: var(--Primary-colors-blue);
}

/* 11.2 Title-Form-Section5 */
.Title-Form-Section5 {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  line-height: 2.36;
  color: var(--Primary-colors-white);
}
.Title-Form-Section5 span {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  line-height: 2.36;
  color: var(--Primary-colors-blue);
}

/* 11.3 Privacy-Policy-Section5 */
.Privacy-Policy-Section5 {
  font-size: 12px;
  text-align: center;
  line-height: 3;
  color: var(--Secondary-colors-grey-light);
}
.Privacy-Policy-Section5 span {
  font-size: 12px;
  text-align: center;
  line-height: 3;
  color: var(--Secondary-colors-grey-light);
  font-style: Solid;
  text-decoration: underline;
}

/* 12. Footer */
/* 12.1 Link-Footer */
.link-footer {
  font-size: 16px;
  line-height: 1.16;
  color: var(--Primary-colors-navy-blue);
  text-decoration: none;
}
.link-footer:hover {
  color: var(--Primary-colors-blue);
}

/* 12.2 Link2-footer */
.link2-footer {
  font-size: 16px;
  font-style: normal;
  color: var(--Primary-colors-white);
  line-height: 1.18;
}

/* 12.3 Privacy-Policy-Footer */
.Privacy-Policy-Footer {
  font-size: 16px;
  line-height: 1.18;
  color: var(--Primary-colors-white);
}

/* 12.4 Copyright-Footer */
.Copyright-Footer {
  font-size: 13px;
  line-height: 1.15;
  color: var(--Secondary-colors-grey-light);
}
